<nav id="nav">
  <mat-toolbar color="is-dark">
    <mat-toolbar-row id="background">
      <span><mat-icon>directions_car</mat-icon>TripTogether</span>

      <div class="example-spacer"></div>
      <a mat-stroked-button class="button-spacing"><mat-icon>home</mat-icon>Home</a>
      <a mat-stroked-button class="button-spacing">Rides</a>
      <a mat-stroked-button class="button-spacing"><mat-icon>wb_sunny</mat-icon>Weather</a>
      <a mat-stroked-button class="button-spacing"><mat-icon>add</mat-icon>Create</a>
      <a mat-stroked-button class="button-spacing"><mat-icon>search</mat-icon>Search</a>
      <a mat-stroked-button class="button-spacing"><mat-icon>account_circle</mat-icon>Profile</a>
      <a mat-stroked-button class="button-spacing"><mat-icon>logout</mat-icon>Logout</a>
      <a mat-stroked-button class="button-spacing"><mat-icon>login</mat-icon>Login</a>
      <a mat-stroked-button class="button-spacing" id="button"><mat-icon>person_add</mat-icon>Sing Up</a>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>

<!-- <mat-icon>delete</mat-icon>
<mat-icon>edit</mat-icon> -->
