<nav id="nav">
  <mat-toolbar color="is-dark">
    <mat-toolbar-row id="background-col">
      <span><a class="logo" routerLink='/'><mat-icon>directions_car</mat-icon></a>TripTogether</span>

      <div class="example-spacer"></div>
      <ul class="nav-list">
        <li><a mat-stroked-button routerLink="/home" class="button-spacing"><mat-icon>home</mat-icon>Home</a></li>
        <li><a mat-stroked-button routerLink="/learn-more" class="button-spacing"><mat-icon>info</mat-icon>Learn More</a></li>
        <li><a mat-stroked-button routerLink="/trip/catalog" class="button-spacing"><mat-icon>dashboard</mat-icon>Trips</a></li>
        <li *ngIf="isLoggedIn"><a mat-stroked-button routerLink="/trip/weather" class="button-spacing"><mat-icon>wb_sunny</mat-icon>Weather</a></li>
        <li *ngIf="isLoggedIn"><a mat-stroked-button routerLink="/trip/create" class="button-spacing"><mat-icon>add</mat-icon>Create</a></li>
        <li *ngIf="isLoggedIn"><a mat-stroked-button routerLink="/trip/search" class="button-spacing"><mat-icon>search</mat-icon>Search</a></li>
        <li *ngIf="isLoggedIn"><a mat-stroked-button routerLink="/auth/profile" class="button-spacing"><mat-icon>account_circle</mat-icon>{{username}}'s Profile</a></li>
        <li *ngIf="isLoggedIn"><a mat-stroked-button routerLink="/auth/logout" class="button-spacing"><mat-icon>logout</mat-icon>Logout</a></li>
        <li *ngIf="!isLoggedIn"><a mat-stroked-button routerLink="/auth/login" class="button-spacing"><mat-icon>login</mat-icon>Login</a></li>
        <li *ngIf="!isLoggedIn"><a mat-stroked-button routerLink="/auth/register" class="button-spacing" id="button"><mat-icon>person_add</mat-icon>Sign Up</a></li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>