.example-spacer {
    flex: 1 1 auto;
}

.button-spacing {
    margin-right: 10px;
}

#button {
    background-color: rgb(112, 150, 230);
    color: white;
}

#background-col {
    background-color: rgb(129, 192, 222);
}

.navigation p {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    width: 1000px;
    height: 70px;

}
 mat-icon {
    color: black;
    
    
 }
a{
    background-color:rgb(112, 150, 230);
}

a.logo{
    background-color: rgb(129, 192, 222);
}



/* .site-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("/trip-together/src/assets/images/background2.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

} */






#nav .nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  
  #nav .nav-list li {
    margin-left: 5px;
  }
  
  #nav .nav-list li:first-child {
    margin-left: 0;
  }