<p>search works!</p>

  <div class="card">
    <img src="https://trafficnews.bg/news/2018/12/11/top-10-nai-skapite-koli-registrirani-553.jpg" alt="Card Image">
    <div class="card-content">
      <h2 class="card-title">Card Title</h2>
      <p class="card-description">Card Description</p>
      <div class="card-buttons">
        <button class="edit-button" ><i class="fa-solid fa-user-pen"></i>Edit</button>
        <button class="delete-button"><i class="fa-sharp fa-solid fa-trash"></i>Delete</button>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://webnews.bg/uploads/images/06/2206/322206/768x432.jpg?_=1510051828" alt="Card Image">
    <div class="card-content">
      <h2 class="card-title">Card Title</h2>
      <p class="card-description">Card Description</p>
      <div class="card-buttons">
        <button class="edit-button" ><i class="fa-solid fa-user-pen"></i>Edit</button>
        <button class="delete-button"><i class="fa-sharp fa-solid fa-trash"></i>Delete</button>
      </div>
    </div>
  </div>




<!-- 
  <div class="card-container">
    <mat-card class="card">
      <img mat-card-image src="https://trafficnews.bg/news/2018/12/11/top-10-nai-skapite-koli-registrirani-553.jpg" alt="Card Image">
      <mat-card-content class="card-content">
        <h2 mat-card-title class="card-title">Card Title</h2>
        <p mat-card-subtitle class="card-description">Card Description</p>
        <div class="card-buttons">
            <button class="edit-button" ><i class="fa-solid fa-user-pen"></i>Edit</button>
            <button class="delete-button"><i class="fa-sharp fa-solid fa-trash"></i>Delete</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->