<div class="home-img">

    <div class="text">
        <h3>
            To learn how Trip Together works, just click on the button below.
        </h3>
        <button class="learn" (click)="fadeInOut()">More Info</button>
        <div @fadeInOut *ngIf="isShown">
            <ol>
                <li>
                    Sign Up in the app or Sign In, it takes less than a minute.
                </li>
                <li>
                    Check your next journey, if you can't find it, create your own.
                </li>
                <li>
                    If you find it join the trip and meet your trip companions.
                </li>
                <li>
                    You can see all your created trips on your profile page as well.
                </li>
                <li>
                    You can search for a trip based on the city name.
                </li>
            </ol>
        </div>
    </div>
</div>
<h3 class="center">These are just some of our happy Trip Together users</h3>

<div class="slider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
      <div class="slider__contents"><img src="../../assets/images/1.jpeg" alt="girls in a car">
        <h2 class="slider__caption"></h2>
        <p class="slider__txt"></p>
      </div>
      <div class="slider__contents"><img src="../../assets/images/2.jpeg" alt="two adults in a car">
        <h2 class="slider__caption"></h2>
        <p class="slider__txt"></p>
      </div>
      <div class="slider__contents"><img src="../../assets/images/9.jpeg" alt="girl and a dog in the trunk of a car">
        <h2 class="slider__caption"></h2>
        <p class="slider__txt"></p>
      </div>
      <div class="slider__contents"><img src="../../assets/images/10.jpg" alt="boy in front of a car">
        <h2 class="slider__caption"></h2>
        <p class="slider__txt"></p>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="carousel">
        <div class="carousel__face"><span></span>Trip from Sofia to Varna</div>
        <div class="carousel__face"><span></span>Trip from Ruse to Burgas</div>
        <div class="carousel__face"><span></span>Trip from Varna to Shumen</div>
        <div class="carousel__face"><span></span>Trip from Bansko to Razlog</div>
        <div class="carousel__face"><span></span>Trip from Sofia to Sandanski</div>
        <div class="carousel__face"><span></span>Trip from V.Turnovo to Ruse</div>
        <div class="carousel__face"><span></span>Trip from Plovdiv to St.Zagora</div>
        <div class="carousel__face"><span></span>Trip from Pamporovo to Asenovgrad</div>
        <div class="carousel__face"><span></span>Trip from Pernik to Sofia</div>
    </div>
</div> -->