<div class="home-img">

    <div class="text">
        <h3>
            How Trip Together works, just follow these three simple steps below:
        </h3>
        <ol>
            <li>
                Register in the app, it takes less than a minute
            </li>
            <li>
                Check your next journey, if you can't find it , create your own
            </li>
            <li>
                If you find it join the trip and meet your trip companions
            </li>
        </ol>
    </div>
</div>
<h3 class="center">These are just some of our happy Trip Together users</h3>

<div class="container">
    <div class="carousel">
        <div class="carousel__face"><span></span>Trip from Sofia to Varna</div>
        <div class="carousel__face"><span></span>Trip from Ruse to Burgas</div>
        <div class="carousel__face"><span></span>Trip from Varna to Shumen</div>
        <div class="carousel__face"><span></span>Trip from Bansko to Razlog</div>
        <div class="carousel__face"><span></span>Trip from Sofia to Sandanski</div>
        <div class="carousel__face"><span></span>Trip from V.Turnovo to Ruse</div>
        <div class="carousel__face"><span></span>Trip from Plovdiv to St.Zagora</div>
        <div class="carousel__face"><span></span>Trip from Pamporovo to Asenovgrad</div>
        <div class="carousel__face"><span></span>Trip from Pernik to Sofia</div>
    </div>
</div>

