.not-found-page-container p a {
    color: rgb(112, 150, 230);
    text-decoration: none;
    font-weight:normal;
    
    
}
/* rgb(112, 150, 230);
#ff960b; */

.not-found-page-container p a:hover {
    text-decoration: none;
}

.not-found-page-container h1 {
    font-size: 100px;
    margin-left: 0px;
    margin-top: 10%;
    text-align: center;
    
}

.not-found-page-container h2 {
    font-size: 30px;
    margin-left: 0px;
    margin-top: 1%;
    text-align: center;
    
}

.not-found-page-container>p {
    margin-top: 2%;
    font-size:x-large;
    
}

/* ========================== */

body {
    position: relative;
  
  }
  
  main {
    position: relative;
  }
  
  .not-found-page-container::before{
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/background2.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  
  }

  .not-found-page-container {
    text-align: center;
    padding: 10px;
    color: white;
  }
  
  /* h1 {
    text-align: center; 
  } */

  .center-button {
    padding: 10px 20px;
  }