<footer class="footer">
    <div class="footer-content">
        <p>Copyright &copy; {{ currentYear }} Todor Borisov. All rights reserved.</p>
        <div class="social-media-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>

<footer>
    <div class="social-media-icons">
      <a href="#"><mat-icon>fab fa-github</mat-icon></a>
      <a href="#"><mat-icon>fab fa-linkedin</mat-icon></a>
    </div>
  </footer>
  