<mat-toolbar-row id="footer">
    <div class="footer-content">
        <p>Copyright &copy; {{ currentYear }} Todor Borisov. All rights reserved.</p>
        <div class="social-media-icons">
            <!-- <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a> -->
            <a href="https://github.com/TodorYBorisov"><i class="fa-brands fa-square-github fa-lg"
                    style="color: #000000;"></i></a>
            <!-- <a href="https://bg.linkedin.com/in/todor-borisov-92378131"><i class="fa-brands fa-linkedin fa-lg" style="color: #000000;"></i></a> -->
        </div>
    </div>
</mat-toolbar-row>