#footer {
  background-color: rgb(129, 192, 222);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}
.footer-content p {
  text-align: center;
  margin: 0; 
}

.social-media-icons {
  margin-top: 10px;
}
.social-media-icons a {
  display: inline-block;
  margin: 0 5px;
  color: #333;
  font-size: 24px;
  transition: color 0.2s;
}
