.footer {
    background-color: rgb(129, 192, 222);
    padding: 10px;
    text-align: center;
    /* margin-top: 1em; */
    /* position: relative;
    bottom: 0;
    width: 100%; */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .social-media-icons {
    margin-top: 10px;
  }
  
  .social-media-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #333;
    font-size: 24px;
    transition: color 0.2s;
  }
  
  .social-media-icons a:hover {
    color: #00aced; /* Example hover color for Twitter */
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: px
   
}

/* margin-top: 1em; */