<!--Catalog-->
<section id="catalogPage">
  <h1>Welcome to your next trip!</h1>

  <div class="card-box">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTR5CmxKnBozxmIrGI85u0iCEci1p6MU6TKbg&usqp=CAU">
    <div>
      <div class="text-center">
        <p class="name"><i class="fas fa-route"></i><span>-From: Sofia</span> - <span>To: Haskovo</span></p>
        <p class="artist"><i class="far fa-calendar-alt"></i> Date: <span>2021-06-14</span></p>
        <p class="genre"><i class="far fa-clock"></i> Time: <span>14:03</span></p>
        <p class="price"><i class="fas fa-hand-holding-usd"></i> Price: <span>25</span> BGN</p>
      </div>
      <div class="btn-group">
        <a routerLink="/trip/details/:id" id="details">Details</a>
      </div>
    </div>
  </div>

  <div class="card-box">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsDtYhoYAMGSYH-gTnmVSnCBHNOGzs7fVQYyi9Du3jlqLH0KEsHouhJAoAGAVvsfmZrh4&usqp=CAU">
    <div>
      <div class="text-center">
        <p class="name"><i class="fas fa-route"></i><span>-From: Sofia</span> - <span>To: Haskovo</span></p>
        <p class="artist"><i class="far fa-calendar-alt"></i> Date: <span>2021-06-14</span></p>
        <p class="genre"><i class="far fa-clock"></i> Time: <span>14:03</span></p>
        <p class="price"><i class="fas fa-hand-holding-usd"></i> Price: <span>25</span> BGN</p>
      </div>
      <div class="btn-group">
        <a href="#" id="details">Details</a>
      </div>
    </div>
  </div>

  <div class="card-box">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFJwzrZQe64U9qy3r4kRK8b_uxy1ixCX1-SO76MVE3tE4I8l642lwCdoqbsRMb_Hmq1yg&usqp=CAU">
    <div>
      <div class="text-center">
        <p class="name"><i class="fas fa-route"></i><span>-From: Sofia</span> - <span>To: Haskovo</span></p>
        <p class="artist"><i class="far fa-calendar-alt"></i> Date: <span>2021-06-14</span></p>
        <p class="genre"><i class="far fa-clock"></i> Time: <span>14:03</span></p>
        <p class="price"><i class="fas fa-hand-holding-usd"></i> Price: <span>25</span> BGN</p>
      </div>
      <div class="btn-group">
        <a href="#" id="details">Details</a>
      </div>
    </div>
  </div>

  <div class="card-box">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFJwzrZQe64U9qy3r4kRK8b_uxy1ixCX1-SO76MVE3tE4I8l642lwCdoqbsRMb_Hmq1yg&usqp=CAU">
    <div>
      <div class="text-center">
        <p class="name"><i class="fas fa-route"></i><span>-From: Sofia</span> - <span>To: Haskovo</span></p>
        <p class="artist"><i class="far fa-calendar-alt"></i> Date: <span>2021-06-14</span></p>
        <p class="genre"><i class="far fa-clock"></i> Time: <span>14:03</span></p>
        <p class="price"><i class="fas fa-hand-holding-usd"></i> Price: <span>25</span> BGN</p>
      </div>
      <div class="btn-group">
        <a routerLink="/catalog/details/:id" id="details">Details</a>
      </div>
    </div>
  </div>

  <!--No albums in catalog-->
  
    <!-- <p>No available trips at the moment! Come back later.</p> -->
    

</section>