.register-box {
    color: white;
    width: 370px;
    height: 680px;
    margin: auto;
    background-color: rgba(38, 26, 29, 0.600);
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 35px;
}

.register-box h1 {
    text-align: center;
    padding-top: 5px;
}

.register-box h4 {
    margin-top: 10px;
    text-align: center;
}

.register-box form {
    width: 300px;
    margin-left: 20px;
}

.register-box form label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

.register-box form input {
    width: 320px;
    height: 30px;
    padding-left: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}

.register-box input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 30px;
    border: none;
    background-color: rgb(112, 150, 230);
    color: white;
    font-size: 15px;
}

.register-box p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}

.register-box p>a {
    color: rgb(112, 150, 230);
    text-decoration: none;
    
}

/* ===================== */
.register-box form .gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.register-box form .gender label {
    display: inline-block;
    margin: 0;
}

.register-box form .gender input[type="radio"] {
    margin-right: 5px;
}

.register-box form .gender input[type="radio"] {
    transform: scale(0.6); 
    margin-right: 5px;
}
/* 1 */




/* ========== */
body {
    position: relative;
  
  }
  
  main {
    position: relative;
  }
  
  .register-box::before{
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/background2.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  
  }

  .register-box .error_color {
    color: red;
}

input.ng-valid {
    border: 4px solid green !important;
   
}
