/* .container {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    
  } */
  
  section div.container.home {
    padding-top: 0;
  }
  
  .home h1,
  .home p {
    text-align: center;
    color: white;
  }
  
  .home p.lead {
    font-size: 24px;
    font-style: italic;
  }