<p>create works!</p>


<mat-card class="card-box">
    <mat-card-header>
        <mat-card-title> This trip is from ... to ...</mat-card-title>
    </mat-card-header>

    <img mat-card- mat-card-lg-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFJwzrZQe64U9qy3r4kRK8b_uxy1ixCX1-SO76MVE3tE4I8l642lwCdoqbsRMb_Hmq1yg&usqp=CAU">

    <mat-card-content>
        <mat-card-subtitle>Desctription: </mat-card-subtitle>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus obcaecati aperiam itaque doloribus, voluptas in velit reprehenderit rem porro blanditiis soluta aspernatur officia voluptatem assumenda eveniet. Totam illum commodi facilis.
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button><i class="fa-solid fa-user-pen"></i>Edit</button>
        <button mat-button><i class="fa-sharp fa-solid fa-trash"></i>Delete</button>
    </mat-card-actions>


</mat-card>